body {
	margin: 0;
/*	font-family: 'Open Sans', sans-serif;*/
	font-family: 'Forum', cursive;
	background-color: #fffffd;
}

header {
	text-align: center;
	padding-top: 2em;
}

main {
	padding: .2em;
}

svg {
	height: 32px; 
	width: 32px;
}

h1 {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

h2 {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	margin-top: 1em;
}

#menu {
	text-decoration: none;
	padding: 1.25em 1.25em 0 1.25em;
	margin: 1em;
	text-align: right;
  background: #c9ffe6;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.3s ease-in-out;
}

#menu:hover {
	box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.show-menu {
  display: block;
}

#nav-menu {
	background-color: #000002;
}

nav {
	display: none;
	height: 100%;
	width: 100%;
/*
		position: absolute;
	height: auto;
*/
}

nav a {
	display: block;
	text-decoration: none;
	text-align: center;
	font-size: 1.2em;
	text-align: center;
	color: #fffff1;
	font-family: 'Open Sans', sans-serif;
	padding: 0 .5em;
  line-height: 1.8em;
  border-bottom: 1px solid #777c7c;
	transition: .5s;
}

nav a#first:hover {
	background-color: #00910c;
}
nav a#second:hover {
	background-color: #0097a8;
}
nav a#third:hover {
	background-color: #480091;
}
nav a#fourth:hover {
	background-color: #915700;
}

nav li:last-child a {
	border-bottom: none;
}

ul {
	list-style: none;
	padding: 5px 0;
	margin: 0 0;
}

section {
	font-size: 1.3em;
	padding: 0 0.4em;
}


#introduction-background {
	font-size: 1.2em;
	background-color: #ffffed;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.introduction-title {
	font-size: 1.7em;
	font-family: 'Indie Flower', cursive;
	margin-top: 1.5em;
	padding-top: .2em;
}

.introduction {
	font-size: 1.4em;
	font-family: 'Indie Flower', cursive;
}

.profile-picture {
	width: 100px;
	height: 113px;
	border-radius: 50%;
	margin-top: 3em;
}

.center-image {
	text-align: center;
}

table {
	margin: 2.5em 0;
}

th {
	padding-right: .5em;
}

td {
	padding: .2em 0;
}

hr {
	width: 65%;
}




@media screen and (min-width: 500px) {
	header {
		padding: 0;
	}
	
	main {
		float: right;
		width: 68%;
		margin-top: 4em;
	}
	
	h2 {
	margin-top: 4em;
	}
	
	#nav-menu {
	background-color: #00002d;
	}
	
	nav {
		display: block;
		overflow-x: hidden;
		position: fixed;
		height: 100%;
		width: 30%;
		z-index: 100%;
	}
	nav a {
		display: flex;
		font-size: 1.2em;
		flex-flow: row wrap;
		justify-content: space-around;
		padding: .5em 0;
	}
	
	section {
		width: 90%;
		margin: 0 auto;
	}
	
	hr {
		width: 95%;
	}
	
	.introduction-title {
		margin-top: 4em;
	}
	
	.introduction {
		padding: .2em;
	}
	
	 #menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
	main {
		width: 78%;
	}
	
	nav {
		width: 20%;
	}
	
	nav a {
	font-size: 1.4em;
	}
	
	section {
		width: 60%;
	}
	
	hr {
		width: 65%;
	}
}


@media screen and (min-width: 1024px) {
	
	main {
		width: 78%;
	}
	
	nav {
		width: 20%;
	}
	
	nav a {
	font-size: 1.4em;
	}
	
	section {
		width: 60%;
	}
	
	hr {
		width: 65%;
	}
	
	.profile-picture {
		width: 140px;
		height: 158px;
	}
}

@media screen and (min-width: 1366px) {
	
	main {
		width: 82%;
	}
	
	nav {
		width: 16%;
	}
	
	nav a {
	font-size: 1.5em;
	}
	
	section {
		width: 58%;
	}
	
	hr {
		width: 63%;
	}	
}

@media screen and (min-width: 1920px) {
	
	main {
		width: 82%;
	}
	
	nav {
		width: 12%;
	}
	nav a {
	font-size: 1.7em;
	}
	
	section {
		max-width: 800px;
	}
	
	hr {
		max-width: 812px;
	}
	
}