body {
	margin: 0;
	height: 2400px;
}

header {
	text-align: center;
}

main {
	padding: .2em;
}

h1 {
	text-align: center;
	font-family: sans-serif;
	margin-bottom: 4em;
}

h2 {
	text-align: center;
}

nav {
	background-color: #00002d;
	height: 100%;
	width: 100%;
}

nav a {
	display: block;
	text-decoration: none;
	text-align: center;
	font-size: 1.2em;
	text-align: center;
	color: #fffff1;
	background-color: #00002d;
	padding: 0 .5em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 1.8em;
  border-bottom: 1px solid #777c7c;
	transition: .5s;
}

nav a#first:hover {
	background-color: #00910c;
}
nav a#second:hover {
	background-color: #0097a8;
}
nav a#third:hover {
	background-color: #480091;
}
nav a#fourth:hover {
	background-color: #915700;
}

nav li:last-child a {
	border-bottom: none;
}

ul {
	list-style: none;
	background: #00002d;
	padding: 5px 0;
	margin: 0 0;
}

.profile-picture {
	width: 100px;
	height: 113px;
	border-radius: 50%;
	margin-top: 1.5em;
}

.center-image {
	text-align: center;
}

section {
	font-size: 1.2em;
	padding: 0 0.4em;
}


@media screen and (min-width: 600px) {
	main {
		float: right;
		width: 78%;
	}
	
	nav {
		overflow-x: hidden;
		position: fixed;
		height: 100%;
		width: 20%;
		z-index: 100%;
	}
	nav a {
		display: block;
		font-size: 1.5em;
			display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	}
	
	.menu-button {
		display: none;
	}
	
	section {
		width: 70%;
		margin: 0 auto;
	}
	
}


@media screen and (min-width: 1000px) {
	main {
		float: right;
		width: 78%;
	}
	
	nav {
		overflow-x: hidden;
		position: fixed;
		height: 100%;
		width: 20%;
		z-index: 100%;
	}
	nav a {
	display: block;
	font-size: 1.5em;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	}
	
	.menu-button {
		display: none;
	}
	
	section {
		width: 60%;
		margin: 0 auto;
	}
	
}