body {
	margin: 0;
	height: 2400px;
}

main {
	padding: .2em;
}

h1 {
	font-family: sans-serif;
}

nav {
	background-color: #00002d;
	height: 100%;
	width: 100%;
}

nav a {
	text-decoration: none;
	font-size: 1.2em;
	text-align: center;
	color: #fffff1;
	background-color: #00002d;
	padding: 0 .5em;
	transition: .5s;
}




nav a:hover {
	color: #001;
	background-color: #f4f4ff;
}



@media screen and (min-width: 600px) {
	main {
		float: right;
		width: 80%;
	}
	
	nav {
		background-color: #00002d;
		overflow-x: hidden;
		position: fixed;
		height: 100%;
		width: 25%;
		z-index: 100%;
	}
	nav a {
		display: block;
		font-size: 1.5em;
	}
	
}


@media screen and (min-width: 1000px) {
	nav {
		width: 12%;
	}
	
}